
body{
	width: 70%;
	overflow: auto;
	margin: 0 auto;
	border: 1px solid red;
	padding: 20px;
}
h2{
	text-align: center;
}
div.one{
	margin-bottom: 20px;
	background-color: lightgray;
	padding: 20px;
	overflow: auto;
}
div.one img{
	width: 30%;
	float: left;
	margin-right: 30px;

}
p{
	font-size: 20px;
}
div.three{
	background-color: lightgray;
	padding: 20px;
	overflow: auto;
}
.backgr{
	background-color: lightgray;
}
.padding_all{
	padding: 10px;
}
.margin_all{
	margin: 20px;
}
div.them{
	display: flex;
	flex-direction: row;
	padding: 20px;
}
div.them div.image{
	width: 30%;
	margin-right:40px;
}
div.them div.image img{
	width: 100%;
}
div.them div.go{
	width: 70%;
}
div.them div.go textarea{
	width: 100%;
	height: 100%;
}
.all{
	display: flex;
	flex-direction: column;
}