body
{
	padding: 0px;
	border: 0px;
	margin:  0px;
}
p{
	margin:0;
	text-align: justify;
}
h2{
  text-align: center;
}
img{
	width: 100%;
}
.padding-all{
	padding: 10px;
}
.margin-all{
	margin:20px;
}

.backgr{
	background-color: lightgray;
	border-radius: 20px;
}
.than{
	width: 80%;
	border: 1px solid red;
	margin: 0 auto;
}
.row{
	display: flex;
}
.col-1{
	flex:1;
}
.col-2{
	display: flex;
	flex: 2;
}
.content{
	display: flex;
	flex-direction: column;
}